name: Build A Docker Artifact for Gist Api

on:
  push:
    branches: ["*"]
  workflow_dispatch:
  pull_request:
    branches: ["*"]

jobs:
  docker-build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents:  read
    steps:
    - name: Checkout to the repo
      uses: actions/checkout@v5
    - name: Setup Buildx
      uses: docker/setup-buildx-action@v3
    - name: Login ghcr.io
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - id: meta
      uses: docker/metadata-action@v5
      with:
        images: ghcr.io/${{ github.repository }}
        flavor: | 
          latest=false
        tags:
          type=sha
    -  name: Push to ghcr.io
       uses: docker/build-push-action@v6
       with:
         push: true
         tags: ${{ steps.meta.outputs.tags }}
         labels: ${{ steps.meta.outputs.labels }}
         context: .
